@font-face {
  font-family: "iconfont"; /* Project id 3528397 */
  src: url('iconfont.woff2?t=1659857429971') format('woff2'),
       url('iconfont.woff?t=1659857429971') format('woff'),
       url('iconfont.ttf?t=1659857429971') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 27px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\eafe";
  font-size: 26px;
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-taiyang:before {
  content: "\e6db";
}

.icon-pinglun1:before {
  content: "\e8c5";
}

.icon-icon-:before {
  content: "\e62c";
  font-size: 35px;
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-yonghu:before {
  content: "\e633";
  font-size: 40px;
}

.icon-liulanqi:before {
  content: "\e642";
}

.icon-ziliaoku:before {
  content: "\e601";
}

.icon-shouye1:before {
  content: "\e612";
}

.icon-jushou:before {
  content: "\e6bd";
}

.icon-tushu:before {
  content: "\e600";
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-mingcijieshi:before {
  content: "\e731";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-haizhe:before {
  content: "\e69c";
}

.icon-shouye:before {
  content: "\e63c";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-xiaolian:before {
  content: "\e60f";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-qq:before {
  content: "\e608";
}

